#div-choose {
    padding-top: 20px;
    width: 300px;
    height: 600px;
    align-items: center;
    margin-top: 50px;
    float: left;
    border: 1px solid orange;
}

#div-chart {
    width: 1050px;
    height: 600px;
    float: left;
    margin-left: 70px;
    margin-top: 50px;
    border: 1px solid blue;
}

#confirm {
    width: 75px;
    height: 24px;
    float: left;
    margin-left: 50px;
    border: 3px solid rgb(219, 214, 214);
}

#download {
    widows: 75px;
    height: 24px;
    float: left;
    margin-left: 50px;
    border: 3px solid rgb(219, 214, 214);
}

select {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 75px;
}

td {
    margin-left: 20px;
}